In [175]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression as LR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [149]:
data=pd.read_csv("D:/data analysis class/h1n1_vaccine_prediction.csv")

In [150]:
data.head()

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0

In [151]:
null=data.loc[:,data.isna().any()]

In [152]:
null.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,dr_recc_h1n1_vacc,...,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,qualification,income_level,marital_status,housing_status,employment,no_of_adults,no_of_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,2.0,1.0,2.0,< 12 Years,Below Poverty,Not Married,Own,Not in Labor Force,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,4.0,2.0,4.0,12 Years,Below Poverty,Not Married,Rent,Employed,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,4.0,1.0,2.0,College Graduate,"<= $75,000, Above Poverty",Not Married,Own,Employed,2.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,5.0,4.0,1.0,12 Years,Below Poverty,Not Married,Rent,Not in Labor Force,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,3.0,1.0,4.0,Some College,"<= $75,000, Above Poverty",Married,Own,Employed,1.0,0.0

In [153]:
data.interpolate(method='linear', axis=0,limit_direction='both',inplace=True)

In [154]:
data.loc[:,data.isna().any()]

,qualification,income_level,marital_status,housing_status,employment
0,< 12 Years,Below Poverty,Not Married,Own,Not in Labor Force
1,12 Years,Below Poverty,Not Married,Rent,Employed
2,College Graduate,"<= $75,000, Above Poverty",Not Married,Own,Employed
3,12 Years,Below Poverty,Not Married,Rent,Not in Labor Force
4,Some College,"<= $75,000, Above Poverty",Married,Own,Employed
...,...,...,...,...,...
26702,Some College,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force
26703,College Graduate,"<= $75,000, Above Poverty",Not Married,Rent,Employed
26704,Some College,NaN,Not Married,Own,NaN
26705,Some College,"<= $75,000, Above Poverty",Married,Rent,Employed
26706,Some College,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force

In [155]:
data.qualification.mode()

0    College Graduate
dtype: object

In [156]:
data.qualification.fillna('College Graduate',inplace=True)

In [157]:
data.income_level.mode()

0    <= $75,000, Above Poverty
dtype: object

In [158]:
data.income_level.fillna('$75,000, Above Poverty',inplace=True)

In [159]:
data.marital_status.mode()

0    Married
dtype: object

In [160]:
data.marital_status.fillna('Married',inplace=True)

In [161]:
data.housing_status.mode()

0    Own
dtype: object

In [162]:
data.housing_status.fillna('Own',inplace=True)

In [163]:
data.employment.mode()

0    Employed
dtype: object

In [164]:
data.employment.fillna('Employed',inplace=True)

In [165]:
data.columns

Index(['unique_id', 'h1n1_worry', 'h1n1_awareness', 'antiviral_medication',
       'contact_avoidance', 'bought_face_mask', 'wash_hands_frequently',
       'avoid_large_gatherings', 'reduced_outside_home_cont',
       'avoid_touch_face', 'dr_recc_h1n1_vacc', 'dr_recc_seasonal_vacc',
       'chronic_medic_condition', 'cont_child_undr_6_mnths',
       'is_health_worker', 'has_health_insur', 'is_h1n1_vacc_effective',
       'is_h1n1_risky', 'sick_from_h1n1_vacc', 'is_seas_vacc_effective',
       'is_seas_risky', 'sick_from_seas_vacc', 'age_bracket', 'qualification',
       'race', 'sex', 'income_level', 'marital_status', 'housing_status',
       'employment', 'census_msa', 'no_of_adults', 'no_of_children',
       'h1n1_vaccine'],
      dtype='object')

In [166]:
Y=data.h1n1_vaccine

In [167]:
x=data.drop('h1n1_vaccine',axis=1)

In [168]:
data_x=pd.get_dummies(x)

In [169]:
scalar=StandardScaler()

In [170]:
X=scalar.fit_transform(data_x)

In [171]:
X=pd.DataFrame(X)

In [172]:
X.columns=data_x.columns

In [173]:
X.columns

Index(['unique_id', 'h1n1_worry', 'h1n1_awareness', 'antiviral_medication',
       'contact_avoidance', 'bought_face_mask', 'wash_hands_frequently',
       'avoid_large_gatherings', 'reduced_outside_home_cont',
       'avoid_touch_face', 'dr_recc_h1n1_vacc', 'dr_recc_seasonal_vacc',
       'chronic_medic_condition', 'cont_child_undr_6_mnths',
       'is_health_worker', 'has_health_insur', 'is_h1n1_vacc_effective',
       'is_h1n1_risky', 'sick_from_h1n1_vacc', 'is_seas_vacc_effective',
       'is_seas_risky', 'sick_from_seas_vacc', 'no_of_adults',
       'no_of_children', 'age_bracket_18 - 34 Years',
       'age_bracket_35 - 44 Years', 'age_bracket_45 - 54 Years',
       'age_bracket_55 - 64 Years', 'age_bracket_65+ Years',
       'qualification_12 Years', 'qualification_< 12 Years',
       'qualification_College Graduate', 'qualification_Some College',
       'race_Black', 'race_Hispanic', 'race_Other or Multiple', 'race_White',
       'sex_Female', 'sex_Male', 'income_level_$75,000, Above Poverty',
       'income_level_<= $75,000, Above Poverty', 'income_level_> $75,000',
       'income_level_Below Poverty', 'marital_status_Married',
       'marital_status_Not Married', 'housing_status_Own',
       'housing_status_Rent', 'employment_Employed',
       'employment_Not in Labor Force', 'employment_Unemployed',
       'census_msa_MSA, Not Principle  City', 'census_msa_MSA, Principle City',
       'census_msa_Non-MSA'],
      dtype='object')

In [176]:
Linear=LR()

In [178]:
trainx,testx,trainy,testy=train_test_split(X,Y,test_size=0.2,random_state=100)

In [179]:
modelt=Linear.fit(trainx,trainy)

In [180]:
predy=modelt.predict(testx)

In [181]:
predy=pd.DataFrame(predy)

In [182]:
modelt.score(testx,predy)

1.0

In [183]:
mse(testy,predy,squared=False)

0.40587228286279425

In [184]:
modelt.score(trainx,trainy)

0.8331383103206178

In [186]:
modelf=Linear.fit(X,Y)

In [188]:
modelf.score(X,Y)

0.834387988167896